.redeem-dialog-container {
  padding: 24px !important;
}

.mat-form-field {
  display: block;
}

span.info {
  font-size: 12px;
}

span.info .mat-icon {
  vertical-align: middle;
  font-size: 20px;
}
span.info > p {
  display: inline-block;
}
