<img class="logo" src="assets/logos/solstreambeta.png" alt="">
<h2 class="margin-bottom-32">Solstream</h2>
<h2 class="margin-bottom-32">The first streaming platform on Solana and IPFS.</h2>

<p>A decentralised platform where everyone benefits</p>
<ul class="padding-bottom-32">
    <li>Earn coins while watching and streaming</li>
    <li>Decentralised, the content is stored on the blockchain</li>
    <li>Low fees, together we keep the platform running</li>
</ul>

<button class="light-button" (click)="explainMeMore()" mat-raised-button>TELL ME MORE</button>
<button class="standard-button-purple" (click)="createAccount()" mat-raised-button>CREATE AN ACCOUNT</button>

<button class="" style="font-weight: 700" mat-button (click)="login()">LOG-IN</button>

