<app-nav-bar></app-nav-bar>
<div class="app-container page-container">
    <div class="page-body-container">
        <div>
            <h1>Community Guidelines</h1>
            <div>
                <p> The solstream TV guidelines depicted below demonstrate the integrity and health of the community. It is important that every participant in this community follow these guidelines in order to safely express yourself and interact with each other. As a community, we seek enjoyment, a sense of belonging and only to together we can achieve that. Fathom the spirit and unity, only then we can make this community truly thriving and enjoyable for everyone. </p>
            </div>
        </div>
        <div>
            <h3>Violent acts/threats against others or yourself</h3>
            <div>
                <p>
                    Acts of violence (including self-inflicted acts) to harm yourself or others, incitement of violent acts of any kind or threats of violence are strictly forbidden within solstream. Furthermore, promotion and encouragement of these acts are also not allowed. These acts will most likely result in an indefinite suspension of your account.
                </p>
            </div>

            <h3>Sexual Explicit Content and Activities</h3>
            <div>
                <p>
                    Pornography, nudity and other sexual content is restricted. We are committed that solstream TV is not used for sexual exploitation or violence. Also, activities that solicit or offer sexual content/services are prohibited. Furthermore, showing content of genitals, breast, butt or other suggestive content with or without clothes for the purpose of (suggestive) sexual satisfaction of the viewer is not allowed. We expect you to adhere to these body-coverage/attire guidelines. As content creators, whether you’re uploading videos or streaming content, it is your responsibility that no violations are made. If accidentally nudity appears in your content, please remove the content and make sure it does not happen again. There might be some contextual exceptions which include, but are not limited to: body art, swim/beach or festivals. As a moderator, make sure to report the video so it can be removed. Additional actions might be taken to prevent further violations.
                </p>
            </div>

            <h3>Hate speech or discrimination</h3>
            <div>
                <p>
                    In order to create a safe environment where streamers and watchers can safely interact with each other the community is strictly against hateful speech and discrimination. Any activity or content that expresses hate or violence towards a watcher or viewer based on but not limited to race, religion, nationality, ethnicity, age, sex/gender or sexual orientation will not be condoned and punished accordingly.
                </p>
            </div>

            <h3>Unauthorised sharing of sensitive information</h3>
            <div>
                <p>
                    Respect the privacy of others. It is strictly forbidden to share private or sensitive information, such as name, date of birth, residential/financial information without written approval. This extends to sharing social profiles (e.g., Facebook or Instagram). Sharing this kind of information without permission invades someone’s privacy and is against the values that this community stands for.
                </p>
            </div>

            <h3>Malicious conduct</h3>
            <p>Respect our community by avoiding malicious conduct. Any activity that disrupts, harms or violates another user’s experience is considered as malicious conduct. These include, but are not limited to:</p>
            <ul>
                <li>
                    Spamming
                </li>
                <li>
                    Frauds/Scams
                </li>
                <li>
                    Phishing, sending malware/viruses, DDOS or hacking
                </li>
                <li>
                    <p>Cheating the solstream Watch-and-Earn or Stream-and-Earn reward mechanisms, examples include:</p>
                    <ul>
                        <li>Artificially increasing perceived engagement (likes, comments, views, etc.)</li>
                        <li>Illegitimate involvement where financial gain, deception or other malicious conduct is the main purpose of the involvement. </li>
                    </ul>
                </li>
                <li>
                    Tampering with user activities or records of information (e.g., views/subscription)
                </li>
                <li>
                    Misleading/misinforming users
                </li>
                <li>
                    False user reports
                </li>
            </ul>
            <p>Some of these conducts will can result in temporary bans others might permanently block you.</p>
        </div>
        <div>
            <h3>Child Safety</h3>
            <p>Any sexual, violent or suggestive content involving minors is not allowed on this platform. Please report anyone  that causes physical or psychological harm to minors. We take child exploitation very serious and will report to the authorities.</p>
            <hr>
            <p>solstream reserves the right to take action against anyone not obliging to the community guidelines. These actions include termination of accounts, removal of content and/or seeking damages as permitted by the law.</p>
        </div>
    </div>    
</div>
<app-footer></app-footer>

