@import "src/variables";

.lens-logo {
  width: 20px;
  width: 17px;
  display: inline-block;
  cursor: pointer;
  margin-left: -10px;
  margin-right: 0;
  margin-bottom: 2px;
  position: relative;
}

.subscribe-text {
  display: inline-block;
  text-align: left;
  margin-left: 10%;
}

.disabled {
  color: $papelGrey3 !important;
}