<h2 class="margin-bottom-32 remove-margin-top">Login</h2>
<i class="fa-solid fa-key icon-big margin-bottom-32"></i>
<p class="margin-top-8 margin-bottom-8">Just easy, connect your wallet and you are ready to go!</p>

<div class="margin-top-72">

    <div>
        <app-wallet-login style="width: 100%;" [mode]="'button'"></app-wallet-login>
<!--        <p class="margin-top-16 margin-bottom-16">- OR -</p>-->
        <!--    <button class="social-media light-button" mat-raised-button (click)="signInWithFB()"><i class="fa-brands fa-facebook-f"></i></button>-->
        <!--    <button class="social-media light-button" mat-raised-button (click)="signInWithTwitter()"><i class="fa-brands fa-twitter"></i></button>-->
<!--        <button class="social-media light-button" mat-raised-button (click)="loginWithGoogle()"><i-->
<!--                class="fa-brands fa-google"></i></button>-->
<!--        <p class="margin-top-16 margin-bottom-16">- OR -</p>-->
<!--        <button (click)="signInWithEmail()" mat-button>E-MAIL</button>-->
        <div *ngIf="errorMessage" class="info-message">
            {{errorMessage}}
        </div>
    </div>
</div>


