.play-icon-container {
  background-color: #9b3333;
  height: 4rem;
  width: 4rem;
  /* width: 6rem; */
  border-radius: 100px;
  padding: 1.3rem;
  line-height: 12px;
  display: inline-block;
  opacity: 0.8;
}
