<div class="cookie-consent">
    <div> 
        <h3><b>Privacy is important to us.</b></h3>
        <p>solstream uses cookies and other tracking technologies to improve your browsing experience on our website, to show you personalized content and targeted ads, to analyze our website traffic, and to understand where our visitors are coming from. Cookies are very small text files that are stored on your computer when you visit a website. We use cookies for a variety of purposes and to enhance your online experience on our website. Please refer to our <a routerLink="privacy-policy">privacy policy</a> or <a routerLink="cookie-policy">cookie policy</a> for more detailed information.</p>
        <div class="mt-2 d-flex align-items-center justify-content-center g-2">
            <!-- <button class="allow-button mr-1">Manage Cookies</button> -->
            <button mat-raised-button class="button-purple"  (click)="hideCookiesBar()">
                <span class="black-text">Accept Cookies</span>
            </button>
        </div>
    </div>
</div>