<div class="modal-container">
    <div>
        <h3><b>Disclaimer</b></h3>
        <p>
            Welcome to the demo version of solstream.tv! Currently the application is for demonstration purposes only. Do not confirm transactions through your wallet when interacting with streams.
            The application might contain bugs. Any feedback on the functionality is appreciated and can be send to support@solstream.io.
        </p>
        <div class="mt-2 d-flex align-items-center justify-content-center g-2">
            <!-- <button class="allow-button mr-1">Manage Cookies</button> -->
            <button mat-raised-button class="button-purple"  (click)="hideModal()">
                <span class="black-text pointer">Accept</span>
            </button>
        </div>
    </div>
</div>