app-upload-icon-button {
  margin-left: 1rem;
}

.video-card-container {
  width: 19%;
  padding: 0.75rem;
}

.file-size-limit {
  font-size: 0.65rem;
  font-style: italic;
  font-weight: 100;
  padding-left: 1rem;
}

ngx-file-drag-drop {
  height: 120px;
}
