<h2 class="margin-bottom-32 remove-margin-top">Reset password</h2>
<div class="fx-center-items">
    <div [formGroup]="resetPasswordFrom" class="login-panel">
        <mat-form-field appearance="outline">
            <input type="password" formControlName="password" matInput placeholder="Password">

            <mat-error *ngIf="resetPasswordFrom.get('password').hasError('required')">
                <strong>{{validations.required}}</strong>
            </mat-error>
            <mat-error *ngIf="resetPasswordFrom.get('password').hasError('minlength')">
                <strong>Password must be at least 4 characters long</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input type="password" formControlName="password2" matInput placeholder="Confirm password">
            <mat-error *ngIf="resetPasswordFrom.get('password2').hasError('required')">
                <strong>{{validations.required}}</strong>
            </mat-error>
            <mat-error *ngIf="resetPasswordFrom.get('password2').hasError('minlength')">
                <strong>Password must be at least 4 characters long</strong>
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="samePassword === false">
            Passwords don't match
        </mat-error>
        <mat-error *ngIf="error === 'other'">
            Something went wrong please try again later.
        </mat-error>
        <button (click)="resetPassword()" class="standard-button-purple"
                mat-raised-button>
            <span class="black-text">Reset</span>
        </button>
    </div>
</div>

