table {
    width: 100%;
    margin-bottom: 24px;
}

mat-icon {
    cursor: pointer;
}

.dialog-container {
    padding: 24px !important;
}

mat-form-field {
    width: 100%;
}
.error {
    color: red;
}