<ng-container>
    <div id="stream-container">
        <app-dolby-io-video-player></app-dolby-io-video-player>
    </div>
<!--    <div class="action-container" style="">-->
<!--        <div style="flex: 1 1 auto"></div>-->
<!--        <app-full-screen [hasFullScreen]="false" id="app-full-screen"-->
<!--                         [htmlItemId]="'stream-container'"></app-full-screen>-->
<!--    </div>-->
    <!-- canvas for snapshot shot -->
    <canvas style="display: none" id="canvas" width="400" height="225"></canvas>
</ng-container>
