.close{
  float: right;
  top:-24px;
  right:-24px;
}



@import "../../../../../variables";

.top-stream-card {

  //-webkit-box-shadow: -1px 1px 49px 22px rgba(0,0,0,0.65);
  //box-shadow: -1px 1px 49px 22px rgba(0,0,0,0.65);

  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.38), -12px 0 8px -4px rgba(0, 0, 0, 0.38);

  margin: -24px;
  height: 60%;
  //width: 50%;
  display: flex;

  &__video {
    //flex: 1 1 auto;
  }

  &__info-card {
    width: 30%;
    height: 100%;
    //border-left: 1px solid $papelWhite0;
    &__bio {
      font-size: 0.75rem;
      color: $papelWhite0;
      padding: 1rem;
      flex: 1 1 auto;
      height: 100%;
    }
    &__qr {
      width: 100%;
      text-align: center;
      padding-bottom: 1rem;
    }

  }
}

fa-icon {
  font-size: 2rem;
}
