    <span *ngIf="!mob.isMobile()">🎟️ Featured events:
        <!-- Scroller Start -->

        <div class="scroller">
        <span>
            Philadelphia | 2300 Arena | June 3-5<a  target="_blank" href="https://expcrypto.io/"> Tickets</a>
            <br/>
                 Metaverse Ecosystem Investment | Virtual | September 21-22-23<a  target="_blank" href="https://metaverse-club.net/col.jsp?id=162"> Tickets</a>
            <br/>
                            Future Blockchain Summit | Dubai | October 10-11-12-13<a  target="_blank" href="https://www.futureblockchainsummit.com/home"> Tickets</a>
            <br/>
                        Las Vegas | TBD | October 29<a  target="_blank" href="https://expcrypto.io/"> Tickets</a>
            <br/>
                Global Metaverse Carnival | Virtual | December 13-14-15-16<a  target="_blank" href="https://metaverse-club.net/col.jsp?id=161"> Tickets</a>
            <br/>
        </span>
        </div>

        <!-- Scroller End -->
    </span>

    <div *ngIf="mob.isMobile()">
    <p class="marquee">
        <span>
          Asian Metaverse Conference | Virtual | May 24-25-26<a  target="_blank" href="https://expcrypto.io/"> | Tickets |</a>
         Metaverse Ecosystem Investment | Virtual | September 21-22-23<a  target="_blank" href="https://metaverse-club.net/col.jsp?id=162"> | Tickets |</a>
          Las Vegas | TBD | Oct. 29<a  target="_blank" href="https://expcrypto.io/">| Tickets |</a>
            Global Metaverse Carnival | Virtual | December 13-14-15-16<a  target="_blank" href="https://metaverse-club.net/col.jsp?id=161"> | Tickets |</a></span>
    </p>
    </div>


