* {
  box-sizing: border-box;
}
h1 {
  font-weight: normal;
}
a {
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
html, body {
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  font-family: "Montserrat", Arial;
}
.card {
  position: absolute;
  background-color: #F8F8F8;
  border-radius: 1.5em;
  min-width: 400px;
  max-width: 1170px;
  width: 30%;
  padding: 2.6em 3.8em;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 40%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
  0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.1),
  0 32px 32px rgba(0, 0, 0, 0.15),
  0 64px 64px rgba(0, 0, 0, 0.15);
}
.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #AFAFAF;
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  position: absolute;
  top: -1.8em;
  left: 0;
}
.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;
}

/* Scroller styling */
.scroller {
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  width: 700px;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 10s infinite;
  font-weight: bold;

}
@keyframes slide {
  0% {
    top: 0;
  }
  18% {
    top: -1.2em;
  }
  35% {
    top: -2.4em;
  }
  50% {
    top: -3.6em;
  }
  70% {
    top: -4.6em;
  }
  85% {
    top: -5.6em;
  }
  100% {
    top: -6.6em;
  }
}
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  font-size: 0.85rem;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 55s linear infinite;
}

.marquee2 span {
  animation-delay: 111.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}