.admin-page-container {
  padding: 1rem;
}

.admin-page-container > h2 {
    margin-top: 0!important;
}

.topics-container {
  width: 300px;
  height: 500px;
  margin: 1rem;
  margin-right: 2rem;
}

.all-topics {
  height: 90%;
}

mat-card {
  height: 94%;
  overflow: scroll;
}

.main-topics-container {
  display: flex;
  flex-wrap: wrap;
}

.topics-container h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
