<app-nav-bar></app-nav-bar>
<div class="app-container page-container">
    <div class="page-body-container">
        <div>
            <h1>Stream via OBS</h1>
            <p> The purpose of this guide is to allow you to get a more in-depth look at setting up a livestream using OBS.</p>
            <h1>About Streaming via OBS</h1>
            <p>OBS is the way that most users stream because it is easy to use and offers a high degree of customization.</p>
            <h1>What you need to know</h1>
            <p>Familiarity with using  <a href="https://obsproject.com">OBS</a></p>
            <h1>Prepare your environment</h1>
            <ul>
                <li>Download <a href="https://obsproject.com">OBS</a></li>
                <li>Login or sign up to your solstream account</li>
                <li>Generate OBS key in your profile</li>
            </ul>
            <h1>Setup OBS Settings</h1>
            <ol>
                <li>Select Stream settings</li>
                <li>Select custom for services</li>
                <li>Copy and paste the RTMP ingest URL and Stream Key and paste it into the “Server” and “Stream Key” fields. (RTMP ingest URL and Stream Key can be found on your profile page)</li>
            </ol>
        </div>
    </div>
</div>
<app-footer></app-footer>

