    <div class="mat-dialog-container live-stream-dialog-container">
        <mat-dialog-content>
            <i class="fa-solid fa-xmark close-icon" [mat-dialog-close]></i>
            <h1>Start streaming</h1>
            <div class="fx">
                <div class="card">
                    <div class="paper">
                        <img class="poster" src="/assets/logos/solstreamspaces.png" />
                        <h1>Spaces</h1>
                        <hr />
                        <p>Solstream Spaces is where live video and audio conversations happen.
                            These ephemeral, live audio conversations allow for open, authentic, and unfiltered discussions,
                            and there's a Space for any and every topic and conversation, from small and intimate to thousands of listeners.</p>
                        <button (click)="navigateTosolstreampace()"
                                mat-raised-button class="standard-button-purple">
                            <span class="black-text">Soon available</span>
                        </button>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="paper">
                        <img class="poster" src="https://cdn.akamai.steamstatic.com/steam/apps/1905180/ss_ed75900b7bd34ef638e515402b646f798bb21d6e.1920x1080.jpg?t=1654173198" />
                        <h1>OBS</h1>
                        <hr />
                        <p>Live streaming to Solstream with OBS Studio is super easy. You simply need to link OBS to your
                            and start streaming. We actually use theta, a decentralized video streaming network built on the Ethereum blockchain. </p>
<!--                        <button (click)="navigateToProfile()"-->
<!--                                mat-raised-button class="standard-button-purple">-->
<!--                            <span class="black-text">Start streaming</span>-->
<!--                        </button>-->
                        <button
                                mat-raised-button class="standard-button-purple">
                            <span class="black-text">Soon available</span>
                        </button>
                        <div class="space"></div>
                    </div>
                </div>
            </div>

        </mat-dialog-content>
    </div>
