.aligned {
  display: flex;
  align-items: center;
}

span {
  //padding: 10px;
}

.heart-donation {
  //margin-top: 10px;
  font-size: 25px;
}
.text-donation {
  font-size: 25px;
  text-shadow: 0.9px 0.9px #050505;
}