form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

button {
  margin-left: 5px;
}

.room-actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1 auto;
}

.room-footer {
  display: flex;
}

.mat-card:hover {
  cursor: pointer;
}

.mat-card-title {
  font-size: 14px;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: rgba(255, 255, 255, .3) !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  opacity: 0;
}

.user-avatar-container {
  margin-bottom: 30px;
}

.button-container {
  display: inline-block;
}


.main-profile-img {
  width: 80px;
  height: 80px;
  position: relative;
  margin-top: 10px;
}

.wrap {
  position: relative;
}

.edit-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.generate-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 78px;
  left: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.avatar-label {
  margin: 10px;
  margin-bottom: 10px !important;
}

.edit-account {
  padding: 20px;
  height: 100%;
}

.bio-text-area {
  resize: both;
}

a {
  text-decoration: none;
}
