<div class="container">
    <div class="item">
        <img style="vertical-align:middle" class="logo-for-twitter" style="cursor: pointer"  src="assets/3D/coin.png">
    </div>
    <div class="item">
        <p class="adv-text">Don't miss our updates</p>
    </div>
    <div class="item">
        <a target="_blank" href="https://twitter.com/solstream_io">
        <button
                class="light-button"
                mat-raised-button>
            FOLLOW US ON TWITTER
        </button>
        </a>
    </div>
<!--    <div class="item button-follow">-->
<!--        <a target="_blank" href="https://t.me/solstream_io">-->
<!--            <button-->
<!--                    class="light-button"-->
<!--                    mat-raised-button>-->
<!--                FOLLOW US ON TELEGRAM-->
<!--            </button>-->
<!--        </a>-->
<!--    </div>-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6686742780517064"
            crossorigin="anonymous"></script>
    <!-- video page -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6686742780517064"
         data-ad-slot="1312856755"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>




