<div class="uploaded-videos">
    <h4 *ngIf="!mob.isMobile()">
        <span *ngIf="uploadedVideos?.length > 0">
            Latest Pops <b style="font-size: 0.8rem">{{uploadedVideos[0].roomTitle}}</b>
            <img class="title-icon" src="/assets/icons/video.png"/>
        </span>
    </h4>
    <div style="padding-bottom: 1rem;" *ngIf="mob.isMobile() && uploadedVideos?.length > 0"
         class="popular-content-title">
        Latest Pops by <b style="font-size: 1rem">{{uploadedVideos[0].roomTitle}}</b>
        <img class="title-icon" src="/assets/icons/video.png"/>
    </div>
    <div *ngIf="!mob.isMobile()">
        <div class="row">
            <div *ngFor="let video of uploadedVideos" class="column-4">
                <app-preview-card type="pops" [video]="video"></app-preview-card>
            </div>
        </div>
    </div>
    <div *ngIf="mob.isMobile()">
        <div class="row">
            <div *ngFor="let uploadedVideo of uploadedVideos.slice(0, 4)" class="column-4">
                <app-preview-card type="pops" [video]="uploadedVideo"></app-preview-card>
            </div>
        </div>
        <button *ngIf="!showAll && uploadedVideos.length > 4" class="papel-purple" mat-button (click)="showAll = true">
            SHOW MORE
        </button>
        <ng-container *ngIf="showAll">
            <div class="row">
                <div *ngFor="let uploadedVideo of uploadedVideos.slice(0, 4)" class="column-4">
                    <app-preview-card type="pops" [video]="uploadedVideo"></app-preview-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>
