<!--<div class="section-header fx-row">-->
<!--    <div style="display: flex; flex: 1 1 auto" class="fx-center-items">-->
<!--        <span class="header">📈 STATS</span>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="section-container fx-row">-->
<!--&lt;!&ndash;    <app-stats [room]="room"></app-stats>&ndash;&gt;-->
<!--</div>-->
<div class="ad-iframe">
    <iframe data-aa="1848649" src="//acceptable.a-ads.com/1848649" style="border:0px; padding:0; width:100%; height:100%;
overflow:hidden; background-color: transparent;" ></iframe>
</div>
