@import "../../../../../variables";

//.bio-container {
//  max-height: 100px;
//  display: -webkit-box;
//  -webkit-line-clamp: 6;
//  -webkit-box-orient: vertical;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}

.top-stream-card {

  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.38), -12px 0 8px -4px rgba(0, 0, 0, 0.38);
  margin: 2rem;
  //height: 400px;
  display: flex;

  &__info-card {
    width: 200px;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    background: white;
    border-radius: 0 5px 5px 0 !important;

    &__bio {
      font-size: 0.75rem;
      color: $papelWhite0;
      padding: 1rem;

    }

    &__watch {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding-bottom: 1rem;
    }

  }
}

.bio-text {
  font-size: 0.95rem;
  color: $papelBlack0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-carousel {
  padding: 0.4rem;
}

.watch-earn {
  color: $papelBlack2 !important;
}

.title {
  color: $papelBlack2 !important;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.channel-info {
  color: $papelBlack2!important;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  &-title {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-weight: 600;
  }
}

.stream-topic {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  white-space: nowrap;
}

.room-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 18px;
  max-width: 140px;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0 5px 0 5px;
  //text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .top-stream-card__info-card {
    display: none !important;
  }
}

