<app-nav-bar></app-nav-bar>
<div class="app-container page-container">
    <div class="page-body-container benefit-page">
        <div>
            <h1>solstream TV Creator Benefits, <a class="on-boarding-email"
                                                    target="_blank"
                                                    href="https://forms.gle/safqA9AzJ5swkTq78">Apply now</a></h1>
        </div>
        <div class="benefict-menu">
            <div class="icon-tab">
                <img class="button-icon edit-icon" src="/assets/icons/money_icon.png" width="80px"/>
            </div>
            <div>
                <h3>Monetize your content</h3>
                <p>As a content creator you are in control of your own content. solstream will not force you to share exclusive content on solstream TV. Interactions (such as donations or subscriptions) with your content will give you rewards. This implies you can use the solstream TV Platform as an additional source of revenue and promotion on top of your existing channels!</p>
            </div>
        </div>

        <div class="benefict-menu">
            <div class="icon-tab">
                <img class="button-icon edit-icon" src="/assets/icons/cash_money_payment_wallet.png" width="80px"/>
            </div>
            <div>
                <h3>Instant and Transparent Transactions</h3>
                <p>Your rewards go straight into your wallet. You don’t have to wait for payouts as with traditional centralized video & streaming services. All transactions are visible on the blockchain and can be tracked. Every transaction includes an 8% transaction fee necessary to sustain the solstream TV ecosystem.</p>
            </div>
        </div>

        <div class="benefict-menu">
            <div class="icon-tab">
                <img class="button-icon edit-icon" src="/assets/icons/bank_cash_finance_money_payment.png" width="80px"/>
            </div>
            <div>
                <h3>Close Collaboration with Foundation</h3>
                <p>Collaboration is key in making the solstream TV Platform succeed. As a content creator you’ll have direct access to the solstream Foundation Telegram channel. Here you can post experiences, ideas or innovations, so the foundation can help you realize creating a dream platform for content creators such as yourself.</p>
            </div>
        </div>

        <div class="benefict-menu">
            <div class="icon-tab">
                <img class="button-icon edit-icon" src="/assets/icons/architecture_billboard.png" width="80px"/>
            </div>
            <div>
                <h3>Personalize your Room</h3>
                <p>The room is the space where you can manage your channel. You can upload videos, start streaming or have a look at content you have created in the past. In your room you have designated spot(s) which you can personalize for your own benefit. This can be used to further promote your identity or to advertize for more revenue.</p>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>

