$papelRed: #8c3939;
$papelWhite0: #ffffff;
$papelWhite1: #e7e7e7;
$papelWhite2: #6f6c6c;
$papelBlack0: #000000;
$papelBlack1: #19181b;
$papelBlack2: #212121;
$papelBlack3: #121212;
$papelGray1: #b6b6b6;
$papelPink: #c2185b;
$papelGrey1: #e1e1e1;
$papelGrey2: #4c4c4c;
$papelGrey3: #b8b8b8;
$papelPurple1: #c67df9;
$papelPurple2: #29294b;
$papelBlue1: #2f9cc9;
$papelGradient1: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 64%, rgba(0, 0, 0, 0));
$papelGreen1: #00ff3f;
$papelPolygon: #e9b5fb;
$papelPolygon2: #d778f8;



$sio1: #21316a;
$sio2: #162055;
$sio3: #1278bc;
$sio4: #7049b3;

$videoItemsBackgroundColor: $papelBlack1;
