<div class="modal-container">
    <div>
        <h3><b>Disclaimer</b></h3>
        <p>
            Watch to Earn is now live! For every 30 seconds of watching you’ll receive 0.01 solstream. Keep track of your earnings through the ‘My Earnings’ page. Once the token is launched you’ll be able to claim your rewards. Follow our social channels and stay up to date with the latest information on solstream TV.
        </p>
        <div class="mt-2 d-flex align-items-center justify-content-center g-2">
            <button mat-raised-button class="button-purple"  (click)="hideModal()">
                <span class="black-text pointer">Close</span>
            </button>
        </div>
    </div>
</div>
