<div class="modal-container">
    <div>
        <h3><b>Wallet Signature needed</b></h3>
        <p>
           Please complete the login steps. Open your wallet and sign the login action.
        </p>
        <div class="mt-2 d-flex align-items-center justify-content-center g-2">
            <!-- <button class="allow-button mr-1">Manage Cookies</button> -->
            <button mat-raised-button class="button-purple"  (click)="hideModal()">
                <span class="black-text pointer">Close</span>
            </button>
        </div>
    </div>
</div>