<h2 class="margin-bottom-32 remove-margin-top">Forgot password</h2>

<div class="fx-center-items">
    <div *ngIf="!resetLinkSend" [formGroup]="forgotPassForm" class="login-panel">
        <mat-form-field appearance="outline">
            <input [disabled]="false" formControlName="username" matInput placeholder="Email">
        </mat-form-field>
        <button (click)="forgotPassword()" class="standard-button-purple"
                mat-raised-button>
            <span class="black-text">Reset password</span>
        </button>
        <div class="u-fw fx-row fx-end">
            <a (click)="goBack()">Back to login</a>
        </div>
    </div>
    <div *ngIf="resetLinkSend">
        <mat-card>Password reset link has been sent to your email <span class="email">{{forgotPassForm.value.username}}</span></mat-card>
    </div>
</div>
